.explore__container{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
    margin-bottom: 30px ;

h1{
   text-transform: capitalize;
    font-size: 2.2vw;
    font-weight: 600;
    color: rgb(10, 158, 136);
    margin: 50px 0;
}
  &--inner{
    width: 80%;
    padding: 5px;
    display: block;
 display: flex;
flex-direction: row;
align-items: center;
justify-content:space-between;
    &-card{
        width: 100%;
         display: flex;
flex-direction: column;
align-items: center;
// justify-content: center;
        img{
            width: 80px;
            height: 5vw;
        }
        h2{
                width: 10vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-transform: uppercase;
    text-align: center;
        }
transition: all .1s ease;
         &:hover{
      transform: scale(1.05);
      cursor: pointer;
    }
    }
}
}